<div class="container slider">
  <div [@slideAnimation]="currentIndex">
    <img class="slide slide-animation nonDraggableImage"
         *ngFor="let slide of slides"
         (swiperight)="nextSlide()" (swipeleft)="prevSlide()"
         [src]="slide.image">
  </div>

  <a class="arrow prev" href="#" (click)="nextSlide()"></a>
  <a class="arrow next" href="#" (click)="prevSlide()"></a>
  <nav class="nav">
    <div class="wrapper">
      <ul class="dots">
        <li class="dot" *ngFor="let slide of slides; let i = index;">
          <a href="#" [ngClass]="{'active':isCurrentSlideIndex(i)}"
             (click)="setCurrentSlideIndex(i);">{{slide.description}}</a></li>
      </ul>
    </div>
  </nav>
</div>
